*{
    box-sizing: border-box;
    padding:0px;
    margin: 0px;
}

body{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


$color-1:#21C2F8;
$color-2:#fff;
$color-3:#222533;
$font-1:'Lato', sans-serif;



.row{
    margin-top:50px;
    margin-left:50px;
    display:flex;
    align-items: flex-end;
    .btn{
        margin-right:30px;
        &:last-child{
            margin-right:0px;
        }
    }
}




.btn{
background-color: $color-1;
color: $color-2;
text-decoration: none;
text-transform: uppercase;
font-family: $font-1;
font-weight:900;
font-size:14px;
padding:11px 37px;
border:none;

&:hover{
    background-color: $color-3;
}

&.medium{
    font-size:18px;
    padding:13px 46px;
}



&.large{
    font-size:26px;
    padding:24px 95px;
}
&.x-large{
    font-size:36px;
    padding:27px 101px;
}

&.round{
    &-3{
        border-radius:3px;
    }

    &-7{
        border-radius:7px;
    }

    &-12{
        border-radius:12px;
    }

    &-20{
        border-radius:20px;
    }
}

}


